*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


app/src/main/AndroidManifest.xml
app/src/main/res/layout/activity_landing.xml
app/src/main/res/layout/activity_register.xml
app/src/main/res/layout/activity_sign_in.xml
app/src/main/res/values/strings.xml
